In [1]:
import pandas as pd
pd.__version__

'1.5.1'

In [214]:
v_df = pd.read_csv("https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip")

/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_32282/2259147772.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  v_df = pd.read_csv("https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip")

In [211]:
v_df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [17]:
cols = ["city08", "comb08", "highway08", "cylinders", "displ", "drive", "eng_dscr", "fuelCost08", "make", "model", "trany", "range", "createdOn", "year"]

In [22]:
v_df[cols].select_dtypes(int)

       city08  comb08  highway08  fuelCost08  range  year
0          19      21         25        2000      0  1985
1           9      11         14        3850      0  1985
2          23      27         33        1550      0  1985
3          10      11         12        3850      0  1985
4          17      19         23        2700      0  1993
...       ...     ...        ...         ...    ...   ...
41139      19      22         26        1900      0  1993
41140      20      23         28        1850      0  1993
41141      18      21         24        2000      0  1993
41142      18      21         24        2000      0  1993
41143      16      18         21        2900      0  1993

[41144 rows x 6 columns]

In [27]:
v_df[cols].describe()

,city08,comb08,highway08,cylinders,displ,fuelCost08,range,year
count,41144.000000,41144.000000,41144.000000,40938.000000,40940.000000,41144.000000,41144.000000,41144.000000
mean,18.369045,20.616396,24.504667,5.717084,3.294238,2362.335942,0.793506,2001.535266
std,7.905886,7.674535,7.730364,1.755517,1.357151,654.981925,13.041592,11.142414
min,6.000000,7.000000,9.000000,2.000000,0.000000,500.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,4.000000,2.200000,1900.000000,0.000000,1991.000000
50%,17.000000,20.000000,24.000000,6.000000,3.000000,2350.000000,0.000000,2002.000000
75%,20.000000,23.000000,28.000000,6.000000,4.300000,2700.000000,0.000000,2011.000000
max,150.000000,136.000000,124.000000,16.000000,8.400000,7400.000000,370.000000,2020.000000

In [41]:
v_df[cols].dtypes

city08          int64
comb08          int64
highway08       int64
cylinders     float64
displ         float64
drive          object
eng_dscr       object
fuelCost08      int64
make           object
model          object
trany          object
range           int64
createdOn      object
year            int64
dtype: object

In [48]:
v_df[cols].select_dtypes("float").describe()

          cylinders         displ
count  40938.000000  40940.000000
mean       5.717084      3.294238
std        1.755517      1.357151
min        2.000000      0.000000
25%        4.000000      2.200000
50%        6.000000      3.000000
75%        6.000000      4.300000
max       16.000000      8.400000

In [60]:
v_df[cols].cylinders.dropna(inplace=False)

0         4.0
1        12.0
2         4.0
3         8.0
4         4.0
         ...
41139     4.0
41140     4.0
41141     4.0
41142     4.0
41143     4.0
Name: cylinders, Length: 40938, dtype: float64

In [101]:
v1_df = v_df[cols]
v1_df[v1_df["eng_dscr"].isna()]

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
3,10,11,12,8.0,5.2,Rear-Wheel Drive,NaN,3850,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
14,12,13,15,8.0,5.2,Rear-Wheel Drive,NaN,3250,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
25,11,13,17,8.0,5.2,Rear-Wheel Drive,NaN,3250,Dodge,B150/B250 Wagon 2WD,Manual 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
47,9,10,11,8.0,5.9,Rear-Wheel Drive,NaN,4200,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
69,10,10,11,8.0,5.2,Rear-Wheel Drive,NaN,4200,Dodge,B350 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41034,14,15,17,6.0,4.3,Rear-Wheel Drive,NaN,2800,Chevrolet,G10/20 Sport Van 2WD,Manual 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
41078,15,18,22,8.0,6.2,Rear-Wheel Drive,NaN,2600,Chevrolet,G10/20 Sport Van 2WD,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
41089,16,17,19,8.0,6.2,Rear-Wheel Drive,NaN,2750,Chevrolet,G10/20 Sport Van 2WD,Manual 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
41111,14,15,17,6.0,3.7,Rear-Wheel Drive,NaN,2800,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
41122,14,15,17,6.0,3.7,Rear-Wheel Drive,NaN,2800,Dodge,B150/B250 Wagon 2WD,Manual 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1985

In [98]:
from collections import Counter
Counter(v_df["eng_dscr"])

Counter({'(FFS)': 8827,
         '(GUZZLER)': 42,
         nan: 16153,
         '(FFS,TRBO)': 666,
         '(GUZZLER)  (FFS)': 366,
         '(FFS) DOHC': 6,
         '(FFS) SOHC': 3,
         '(FFS)      (S-CHARGE)': 32,
         '(FFS)      (MPFI)': 734,
         '(GUZZLER)  (FFS)      (MPFI)': 122,
         '(GUZZLER)  (FFS,TRBO) (MPFI)': 16,
         '(350 V8) (FFS)': 411,
         '(DSL,TRBO) (NO-CAT)': 37,
         '(TBI)      (FFS)': 6,
         '(MFI)      (FFS)': 6,
         '(GM-CHEV)': 102,
         'SOHC-4 4WD (FFS)': 32,
         'SOHC-4 2WD (FFS)': 37,
         '(350 V8)': 120,
         'SOHC       (FFS)': 78,
         '(NO-CAT)': 238,
         '(DOHC)     (FFS)': 44,
         '(SOHC)     (FFS)': 39,
         'V6-SOHC    (FFS)': 4,
         '(FFS,TRBO) (MPFI)': 29,
         '(CALIF)    (FFS,TRBO)': 17,
         'DOHC-VTEC  (FFS)': 5,
         '(350 V8) (FFS)  (MPFI)': 106,
         '(VTEC)     (FFS)': 17,
         'ESPRIT     (FFS,TRBO) (MPFI)': 2,
         'DOHC       (FFS)': 96,
         '(FFS,TRBO) (ROTARY)': 5,
         'SOHC-4     (FFS)': 50,
         '(DOHC)     (FFS,TRBO)': 15,
         'DOHC TURBO (FFS,TRBO)': 76,
         '(8-VALVE)  (FFS)': 6,
         'V6DOHC     (FFS)': 2,
         '(PRE-CAT)  (FFS)': 2,
         '(4-VALVE)  (FFS)      (MPFI)': 5,
         '2 VALVES   (FFS)': 2,
         '4 VALVES   (FFS)': 2,
         '(CAL)(FFS)': 67,
         'DOHC-4     (FFS)': 5,
         '(2 VALVE)  (FFS)      (MPFI)': 2,
         '(FFS)      (MPFI)     (S-CHARGE)': 8,
         '(POLICE)   (FFS)': 28,
         '(DSL,TRBO)': 60,
         '(MPFI)     (TURBO)': 10,
         '(MPFI)     (NO-CAT)': 26,
         '(MPFI)': 16,
         '(16VALVES) (FFS)': 14,
         '(V6-DOHC)  (FFS)': 1,
         'DOHC I-4   (FFS)': 4,
         'SOHC-3     (FFS)': 10,
         '(FFS,TRBO) CA model': 81,
         'EGR/2-VLV  (FFS)': 2,
         '(FFS) CA model': 926,
         'EGR/4-VLV  (FFS)': 2,
         'DOHC/VTEC  (FFS)': 6,
         'DOHC V-6   (FFS)': 4,
         'V-6        (FFS)': 7,
         'CA model': 113,
         '(GUZZLER)  (FFS) CA model': 4,
         '(ROTARY) CA model': 2,
         '(GUZZLER)  (TURBO) CA model': 1,
         '(GUZZLER) CA model': 16,
         'PRE-CAT    (FFS)': 2,
         'SOHC-V6    (FFS)': 8,
         'VTEC       (FFS)': 14,
         'V-6        (FFS)      (S-CHARGE)': 1,
         'SOHC I-4   (FFS)': 2,
         '(FFS)      (MPFI) DOHC': 2,
         '(FFS)      (MPFI) SOHC': 2,
         'SOHC V-6   (FFS)': 1,
         '(FFS,TRBO) Low Boost': 1,
         '(FFS)      (VARIABLE)': 1,
         '(DSL,TRBO) (MPFI)': 24,
         'V6-SOHC-4  (FFS)': 4,
         'V6-SOHC-2  (FFS)': 4,
         'V6-DOHC    (FFS)': 2,
         'I-4        (FFS)': 4,
         '(GUZZLER)  (FFS,TRBO)': 40,
         '(FFS/TRBO) CA model': 6,
         '(GUZZLER)  (L410MTKT) (FFS,TRBO)': 3,
         '(GM-OLDS)  (FFS) CA model': 8,
         '(GUZZLER)  (FFS)      (S-CHARGE)': 1,
         '(4-VALVE)  (FFS)': 13,
         '(GUZZLER)  (L410MNKT) (FFS)': 4,
         '(GUZZLER)  ASTON-DB7  (FFS)': 4,
         'S0HC-4     (FFS)': 2,
         'VTEC-E     (FFS)': 2,
         'SOHC-2     (FFS)': 4,
         '(GUZZLER)  (L410MT2)  (FFS,TRBO)': 7,
         'B204L3     (FFS,TRBO)': 4,
         'B234I3     (FFS)': 4,
         'B258I3     (FFS)': 2,
         'DOHC       (FFS)      (MPFI)': 6,
         'SOHC       (FFS)      (MPFI)': 6,
         '(GM-CHEV)  (FFS) CA model': 15,
         '4V         (FFS)': 2,
         '(GUZZLER)  (L410MN2)  (FFS)': 4,
         '(NGV)      (FFS)': 1,
         'B234E4     (FFS,TRBO)': 2,
         'B234L/R4   (FFS,TRBO)': 2,
         'B308I4     (FFS)': 1,
         '(4-VLV)    (FFS)': 2,
         'DOHC VTEC': 2,
         'ASTON-DB7': 4,
         'V8': 1,
         'DOHC-T/C': 16,
         'SOHC': 354,
         'SOHC VTEC': 2,
         'V6': 28,
         'DOHC': 79,
         'DOHC-VTEC': 25,
         'L410MT2': 17,
         '4V': 24,
         'CNG': 8,
         'SOHC-VTEC': 27,
         'VTEC-E': 11,
         'B204L3 FFS,TURBO': 6,
         'B234I3': 4,
         'SOHC L-5': 1,
         'SOHC V-6': 3,
         'SOHC-IL4': 10,
         'DOHC-IL4': 42,
         'MFFV-GAS': 1,
         'EFFV-GAS': 1,
         '2V': 12,
         '4.6N': 8,
         'B234R4': 2,
         '3.0E-F': 2,
         '3.8E-F': 4,
         'V-6': 75,
         'L-4': 16,
         '3.0N-F': 2,
         'DOHC-TC': 6,
         'VTEC': 33,
         '3.8N': 3,
         'DOHC TURBO': 12,
         'B204L3': 2,
         'B2O4L3': 2,
         'B2O4R3': 2,
         '(DSL,TRBO) CA model': 24,
         '44RA8': 1,
         'FFV': 701,
         '54RA12': 1,
         'B235E5': 2,
         'B308E5': 1,
         '(350 V8) (FFS) CA model': 30,
         'NGV': 5,
         'GUZZLER': 195,
         '4.6M': 1,
         '2.0Z': 11,
         'B205R': 14,
         'B205L': 8,
         'B235R': 26,
         '2.5M': 6,
         '2.0L CVH': 5,
         '(GUZZLER)  (TURBO)': 10,
         'SELECT SFT': 2,
         '3': 1,
         '3.9L4V-N': 2,
         '3.0L 2V': 4,
         'B235E': 16,
         'B308E': 8,
         '4.6W': 2,
         '3.0M': 3,
         'Gasoline only': 2,
         'Flex Fuel (E85)': 2,
         '4.2E-R': 5,
         '4.6E-R': 5,
         '5.4E-R': 5,
         '5.4S/C': 1,
         '2.5E-R': 4,
         '4.0E-R': 6,
         '0.00042': 2,
         '0.00046': 3,
         '0.00054': 2,
         '0.0004': 6,
         'EX2US40E5G': 1,
         '3.0W-F': 2,
         '3.3N-F': 1,
         'POLICE': 4,
         '5.0E-R': 2,
         '5.4V-R': 1,
         '4.0S-4 SOHC': 1,
         '0.0005': 2,
         '5.4V-4': 1,
         '4.0S-4': 1,
         'NONE': 1,
         'NG': 1,
         'FLEX-FUEL': 198,
         '4 valve': 9,
         '4V DOHC': 8,
         '(FFS TURBO)': 2,
         '(GUZZLER)             (FFS)': 5,
         '(16-VALVE) (FFS)': 18,
         'RNG140/220': 1,
         'RNG250': 1,
         'CNG RNG180': 2,
         'RNG200/300': 1,
         'FLEX FUEL': 6,
         '4 VALVE': 16,
         '4-Valve': 8,
         '2-Valve': 5,
         '(305)      (FFS)': 71,
         'SUPERCHR': 4,
         'SUPER-CHGD': 1,
         'I4': 20,
         'AWD': 3,
         'RNG=290': 1,
         'SPORT': 1,
         'VTC/VTEC': 6,
         '4-VALVE': 19,
         '2 VALVE': 6,
         'SPORTS': 18,
         '2-VALVE': 14,
         'LEAN-BURN': 4,
         'COUPE': 5,
         'B207L': 4,
         '(16-VALVE) (FFS)      (MPFI)': 3,
         'SST': 2,
         'LM7': 38,
         'SUPERCHRGD': 2,
         '(FFS)      (SPFI)': 194,
         '(FFS)      (GUZZLER)': 20,
         '(OHV)      (FFS)': 4,
         '448S': 3,
         'IN COMMENT': 1,
         'RNG130/170': 1,
         'BI-FUEL': 2,
         'B207R': 8,
         'MIATA T/C': 2,
         'MOTORSPORT': 18,
         'GT/GTS-VIS': 2,
         'GTS-VIS': 2,
         'LEAN BURN': 4,
         'SC': 6,
         'STS/DTS': 2,
         '2-MODE': 1,
         'B235L': 4,
         'LPT': 2,
         '3-VALVE': 1,
         '(DSL,TRBO) (MPFI)     (NO-CAT)': 5,
         'RNG=250': 1,
         'RNG=120': 2,
         '200': 1,
         'GAS 360': 6,
         'HEV': 50,
         'DVVT': 1,
         'SOHC-VIS': 4,
         'new body style': 4,
         '16-VALVE   (FFS)': 1,
         '(OHC)      (FFS)': 6,
         'HEV LB': 2,
         'LK9': 1,
         'SOHC 4': 4,
         '275HP': 11,
         '300HP': 6,
         '(ROTARY)': 3,
         '(GM-CHEV)  (FFS)': 46,
         'E2.0LAA': 1,
         'E2.0LMA': 1,
         'E2.5CAB': 1,
         'E2.5CMB': 1,
         '(307)      (FFS)': 27,
         'DOD': 8,
         '(FFS/TRBO)': 6,
         '275 hp': 2,
         '275 HP': 2,
         '300 HP': 2,
         '(350 V8) (POLICE)   (FFS)': 9,
         '(16-VALVE) (FFS,TRBO)': 1,
         'VCM': 11,
         'SMG TRANS': 13,
         'AFM': 5,
         '(FFS) Fuel Injection': 3,
         '530': 3,
         '440-580': 6,
         '420-540': 4,
         '4.0N': 1,
         'MAZDA3 T/C': 1,
         'MAZDA6 T/C': 1,
         '275': 2,
         'GAS 410': 1,
         'GAS 400': 1,
         'RNG=380': 3,
         '400-425': 2,
         '460': 4,
         '500': 6,
         'GAS 420': 1,
         'RNG420': 4,
         '470-610': 2,
         'RNG=420': 2,
         'RNG=390': 4,
         'RNG=200': 1,
         'CVT2L': 3,
         'GAS 350': 2,
         '(OHV)': 4,
         'GAS 370': 4,
         'RNG=340': 3,
         'RNG390/520': 4,
         'RNG390': 3,
         '(305)': 40,
         'Direct Injection': 3,
         'DIRECTINJ': 2,
         '320/510': 1,
         '320-500': 1,
         '390-540': 14,
         '430-470': 6,
         '440-470': 6,
         'GAS 340': 8,
         '(GM-OLDS)  (FFS)': 21,
         'GAS 330': 20,
         'RNG=390/400': 1,
         'GAS 380': 4,
         'RNG=170': 4,
         'GAS 440': 2,
         'Sold at Ford dealerships': 6,
         'DCT TRANS': 6,
         'DI': 5,
         '255HP': 3,
         '450': 2,
         '430': 2,
         'RNG=360': 3,
         'GAS 430': 1,
         'RNG=370': 1,
         'RNG=400': 1,
         'RNG=450': 2,
         'PR': 91,
         'Hybrid': 2,
         'Hybrid; PR': 3,
         'Dual clutch transmission': 1,
         '(DIESEL)': 95,
         '(CALIF)': 45,
         '(GM-OLDS)': 13,
         '(FFS)(SIL)': 4,
         '(CAL,FFS)': 4,
         '(GM-BUICK)': 7,
         '(350 V8) (DIESEL)': 31,
         '(GM-CHEV) CA model': 23,
         '(DIESEL) CA model': 71,
         '(GM-OLDS) CA model': 13,
         '(FFS,MPFI) CA model': 3,
         '(FFS,SPFI) CA model': 3,
         '(GM-BUICK) CA model': 11,
         '(CALIF) CA model': 3,
         '(FFS)(SIL) CA model': 5,
         'DIESEL CA model': 4,
         '(OHC)': 8,
         'SIDI': 5526,
         '(GUZZLER) (GUZZLER)': 3,
         '(GM-CHEV) (FFS)': 2,
         '(FFS) (SPFI)': 2,
         '(FFS) (MPFI)': 20,
         '(EGR) (FFS)': 8,
         '(LH-3.1) (FFS)': 1,
         '(GUZZLER) FFS MPFI (FFS)': 1,
         '(BOSCH) (FFS)': 1,
         '(FFS) (DIESEL) (NO-CAT)': 2,
         '(GUZZLER) (FFS)': 84,
         '(DIESEL) (NO-CAT)': 20,
         '(FFS)      (FFS)': 1,
         '(GUZZLER) (FFS) (S-CHARGE)': 2,
         '(PRE-CAT) (FFS)': 2,
         '(4- VALVE) (FFS)': 1,
         '(350 V8) (GUZZLER) (POLICE) (FFS)': 1,
         '(POLICE) (FFS)': 2,
         'R-ENG (FFS,TRBO)': 1,
         '(GUZZLER) (FFS) (MPFI)': 1,
         'SOHC-4 (FFS)': 2,
         '(FFS) 3 barrel carb': 2,
         '(FFS) fuel injection': 37,
         'B234I3 (FFS)': 4,
         'B258I3 (FFS)': 2,
         'B204L3 (FFS,TRBO)': 4,
         'B308I4 (FFS) (VARIABLE)': 1,
         'B234E4 (FFS,TRBO) High Power': 1,
         'B234E4 (FFS,TRBO)': 1,
         'B234L/R4 (FFS,TRBO)': 1,
         'NONE FFS': 2,
         'GUZZLER POLICE 4.6N': 4,
         'FFS': 34,
         'GUZZLER  FFS': 5,
         'GUZZLER V8 FFS,TURBO': 1,
         '4.6M FFS MPFI': 1,
         'CNG FFS': 1,
         'FFS,TURBO': 4,
         'POLICE FFS MPFI': 1,
         'B235E5 FFS,TURBO': 3,
         'B308E5 FFS,TURBO': 1,
         '5.4E-R FFS MPFI': 1,
         'V-6 FFS': 1,
         '(350 V8) POLICE FFS MPFI': 2,
         'POLICE  FFS': 6,
         'FFS MPFI': 4,
         'GUZZLER  FFS,TURBO': 1,
         'GUZZLER V8 FFS': 1,
         'SOHC FFS': 6,
         'GUZZLER POLICE': 3,
         'DSL, TRBO': 1,
         'GAS 420 FFS': 1,
         '(C-ENGINE) (FFS)      (MPFI)': 4,
         'FFV; PR': 2,
         '(GUZZLER)  (GM-CHEVY) (FFS)': 1,
         '(350 V8) (FFS)   FI': 5,
         '(SOHC) (FFS)  FI': 4,
         '(FFS)   FI': 5,
         '(FFS) (MPFI)  FI': 1,
         '(FFS) (SPFI)  FI': 1,
         '(FFS) 4 barrel carb': 4,
         'Off Road Package': 6,
         'Full Time 4WD': 4,
         'Part Time 4WD': 4,
         'FFV; Active Fuel Management': 1,
         '(FFS) Lock-up': 5,
         'AWD (All Wheel Drive)': 1,
         'SIDI; Short Wheelbase': 2,
         'SIDI; Long Wheelbase': 2,
         '(FFS,DOHC)': 1,
         'Coupe or Conv.': 23,
         '(TURBO)': 7,
         '63 and 67 motor/generators': 1,
         'Part-time 4-Wheel Drive': 2,
         'SIDI; FFV': 295,
         'Full time 4WD': 1,
         'Part time 4WD': 1,
         'Off-road Package': 1,
         'Lead Acid': 4,
         'NiMH': 4,
         'PHEV': 51,
         '(122)      (FFS)': 14,
         'Cabrio model': 1,
         'B202       (FFS,TRBO)': 7,
         'SIDI; Select shift transmission': 1,
         '(B-ENGINE) (FFS,TRBO)': 4,
         '(A-ENGINE) (FFS,TRBO)': 12,
         '(3S-GE)    (FFS)': 6,
         '(FFS) 2 barrel carb': 29,
         'SIDI; FFV; Sport Transmission': 3,
         'FFV; Part-time 4-Wheel Drive': 2,
         'FFV; Cargo Van': 1,
         'SIDI; with Stop-Start option': 18,
         'RNG=190': 1,
         'Shelby GT500; Coupe or Conv.': 1,
         'SIDI; PZEV(SULEV) emissions': 4,
         'SIDI;': 7,
         'SIDI; PZEV (SULEV) emissions': 12,
         'SIDI; PZEV (SULEV) Emissions': 1,
         'B202       (FFS)': 5,
         'B201       (FFS)': 2,
         'SIDI; with Stop-Start Option': 18,
         'SIDI; with Stop/Start Technology': 3,
         'SIDI & PFI': 322,
         'California Emission Control System': 1,
         '3-mode (Power/Normal/Eco) Transmission': 2,
         'Sport Transmission': 1,
         '(GUZZLER)  (VOLVO780) (FFS)': 1,
         'RNG=193': 2,
         'SIDI; ULEV Emissions': 1,
         '(CALIF)    (DSL,TRBO)': 3,
         'SIDI; with i-ELOOP Technology Package': 12,
         '(POLICE)   (FFS) 2 barrel carb': 4,
         '(POLICE)   (FFS) 4 barrel carb': 4,
         '2-mode (Normal/Eco) Transmission': 6,
         '(VOLVO760) (FFS)': 1,
         'California emission control system': 1,
         'RNG=192': 1,
         'N          (FFS)': 1,
         'Z/28': 1,
         'SIDI; PHEV': 82,
         'Part-time 4WD': 5,
         'Hellcat engine': 15,
         'SIDI; Z06': 10,
         'SIDI; Stop-Start': 35,
         'SIDI; Over 6000 lbs curb weight': 1,
         'SIDI; eAssist': 4,
         'SIDI & PFI; with Off Road Package': 1,
         'Lock-up': 4,
         'SIDI; Ecoboost': 4,
         'FFV; GVWR>7599 LBS': 2,
         'SIDI; Ecoboost; GVWR>6649 LBS': 1,
         'SIDI; Ecoboost; GVWR>7599 LBS': 2,
         'SIDI; Ecoboost; GVWR>6799 LBS': 1,
         'SIDI; Hybrid': 11,
         'SIDI                                   S': 1,
         'PHEV; 94 Amp-hour battery': 1,
         'SIDI; ZL1': 6,
         'SIDI & PFI; Stop-Start': 3,
         'Stop-Start': 3,
         'SIDI & PFI; FFV': 12,
         'SIDI & PFI; Stop-start': 1,
         'SIDI & PFI; VCR': 3,
         'SIDI; ZR1': 2,
         'SIDI; Mild Hybrid': 4,
         'eTorque (Mild Hybrid)': 4,
         'SIDI; 4-mode/Sport transmission': 4,
         'SIDI; XFE Package;': 1,
         'SIDI; 3-mode transmission (work truck)': 4,
         'SIDI; XFE Package': 1,
         'SID': 1,
         'SIDI; Without Cylinder Deactivation': 1,
         '(3S-FE)    (FFS)': 21,
         '(16 VALVE) (FFS)      (MPFI)': 2,
         '(B202)     (FFS,TRBO)': 7,
         '(3S-GTE)   (FFS,TRBO)': 1,
         '(4A-F)     (FFS)': 5,
         '(4A-LC)    (FFS)': 2,
         '(121)      (FFS)': 16,
         '(B202)     (FFS)': 4,
         '(B201)     (FFS)': 2,
         '(TURBO)    (FFS,TRBO)': 11,
         '(4A-FE)    (FFS)': 32,
         'GMP4       (FFS,TRBO) (MPFI)': 1,
         '(GMP4+IC)  (FFS,TRBO) (MPFI)': 1,
         '(GMP4)     (FFS,TRBO) (MPFI)': 1,
         '(4A-GE)    (FFS)': 9,
         'CALIF. ECS (FFS)      (MPFI)': 2,
         '16-VALVE   (FFS)      (MPFI)': 2,
         '16-V, CAL. (FFS)      (MPFI)': 1,
         '(EGR)      (FFS)': 8,
         '(BENDIX)   (FFS)': 3,
         '(350 V8) (GUZZLER)  (FFS,TRBO)': 2,
         'GMP4 ANDIC (FFS,TRBO) (MPFI)': 4,
         '(20-VALVE) (FFS)': 4,
         '(GM-CHEV)  (FFS)      (MPFI)': 12,
         '(GM-CHEV)  (FFS)      (SPFI)': 8,
         '(FFS,TRBO) (SPFI)': 2,
         '(FFS) 1 barrel carb': 1,
         'BPE        (FFS)': 8,
         'BPD        (FFS)': 4,
         '(FFS) BOSCH': 2,
         'JEE        (FFS)': 2,
         'JED        (FFS)': 2,
         '(350 V8) (GUZZLER)  (FFS)': 2,
         'ELAN TURBO (FFS,TRBO)': 3,
         '(FFS)      (ROTARY)': 4,
         '164/164L   (FFS)      (MPFI)': 6,
         '164S       (FFS)      (MPFI)': 2,
         '(SPG)      (FFS,TRBO)': 1,
         '(20-VALVE) (FFS,TRBO)': 4,
         '(GUZZLER)  FFS MPFI   (FFS)': 2,
         'B6D        (FFS)': 2,
         '(GUZZLER)  (GUZZLER)  (FFS)': 2,
         'B6E4       (FFS)': 2,
         'K8D        (FFS)': 2,
         '(GUZZLER)  5 SERIES   (FFS)': 2,
         '(2-VALVE)  (FFS)': 10,
         'BPE/SOHC   (FFS)': 2,
         'BPD/DOHC   (FFS)': 2,
         'B6E2       (FFS)': 2,
         'SOHC  4WD  (FFS)': 6,
         'SOHC  2WD  (FFS)': 6,
         '(SPFI)': 4,
         '4VALVE     (FFS)': 4,
         '(164S)     (FFS)      (MPFI)': 1,
         '2VALVE     (FFS)': 2})

In [87]:
pd.DataFrame(v_df["eng_dscr"].fillna("")).head(20)

      eng_dscr
0        (FFS)
1    (GUZZLER)
2        (FFS)
3
4   (FFS,TRBO)
5        (FFS)
6        (FFS)
7        (FFS)
8        (FFS)
9        (FFS)
10       (FFS)
11       (FFS)
12       (FFS)
13       (FFS)
14
15       (FFS)
16       (FFS)
17       (FFS)
18       (FFS)
19       (FFS)

In [107]:
v1_df[v1_df["cylinders"].isna()]

Empty DataFrame
Columns: [city08, comb08, highway08, cylinders, displ, drive, eng_dscr, fuelCost08, make, model, trany, range, createdOn, year]
Index: []

In [105]:
v1_df["displ"].unique()

array([2. , 4.9, 2.2, 5.2, 1.8, 1.6, 2.3, 2.8, 4. , 5. , 3.3, 3.1, 3.8,
       4.6, 3.4, 3. , 5.9, 2.5, 4.5, 6.8, 2.4, 2.9, 5.7, 4.3, 3.5, 5.8,
       3.2, 4.2, 1.9, 6.2, 2.6, 7.4, 3.9, 1.5, 1.3, 4.1, 8. , 6. , 3.6,
       5.4, 5.6, 1. , 2.1, 1.2, 6.5, 2.7, 4.7, 5.5, 1.1, 5.3, 1.7, 4.4,
       3.7, 6.7, 4.8, nan, 8.3, 1.4, 6.1, 7. , 8.4, 6.3, 6.6, 6.4, 0.6,
       0. , 0.9])

In [108]:
v1_df[v1_df["cylinders"].isna()] = 0

/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_32282/2360676176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v1_df[v1_df["cylinders"].isna()] = 0

In [110]:
v1_df[v1_df["displ"].isna()] = 0

/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_32282/1212413898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v1_df[v1_df["displ"].isna()] = 0

In [115]:
v1_df[v1_df["displ"].isna()]

Empty DataFrame
Columns: [city08, comb08, highway08, cylinders, displ, drive, eng_dscr, fuelCost08, make, model, trany, range, createdOn, year]
Index: []

In [122]:
v1_df.dtypes

city08          int64
comb08          int64
highway08       int64
cylinders     float64
displ         float16
drive          object
eng_dscr       object
fuelCost08      int64
make           object
model          object
trany          object
range           int64
createdOn      object
year            int64
dtype: object

In [121]:
v1_df["displ"] = v1_df.displ.astype("float16")

/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_32282/725396367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v1_df["displ"] = v1_df.displ.astype("float16")

In [126]:
v1_df.select_dtypes("object")

,drive,eng_dscr,make,model,trany,createdOn
0,Rear-Wheel Drive,(FFS),Alfa Romeo,Spider Veloce 2000,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
1,Rear-Wheel Drive,(GUZZLER),Ferrari,Testarossa,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
2,Front-Wheel Drive,(FFS),Dodge,Charger,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
3,Rear-Wheel Drive,NaN,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,Tue Jan 01 00:00:00 EST 2013
4,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Subaru,Legacy AWD Turbo,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...
41139,Front-Wheel Drive,(FFS),Subaru,Legacy,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41140,Front-Wheel Drive,(FFS),Subaru,Legacy,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41141,4-Wheel or All-Wheel Drive,(FFS),Subaru,Legacy AWD,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41142,4-Wheel or All-Wheel Drive,(FFS),Subaru,Legacy AWD,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41143,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Subaru,Legacy AWD Turbo,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013

In [127]:
v1_df["drive"].unique()

array(['Rear-Wheel Drive', 'Front-Wheel Drive',
       '4-Wheel or All-Wheel Drive', 0, 'All-Wheel Drive',
       '4-Wheel Drive', 'Part-time 4-Wheel Drive', nan, '2-Wheel Drive'],
      dtype=object)

In [133]:
v1_df.select_dtypes("object")

,drive,eng_dscr,make,model,trany,createdOn
0,Rear-Wheel Drive,(FFS),Alfa Romeo,Spider Veloce 2000,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
1,Rear-Wheel Drive,(GUZZLER),Ferrari,Testarossa,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
2,Front-Wheel Drive,(FFS),Dodge,Charger,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
3,Rear-Wheel Drive,NaN,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,Tue Jan 01 00:00:00 EST 2013
4,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Subaru,Legacy AWD Turbo,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...
41139,Front-Wheel Drive,(FFS),Subaru,Legacy,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41140,Front-Wheel Drive,(FFS),Subaru,Legacy,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41141,4-Wheel or All-Wheel Drive,(FFS),Subaru,Legacy AWD,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41142,4-Wheel or All-Wheel Drive,(FFS),Subaru,Legacy AWD,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41143,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Subaru,Legacy AWD Turbo,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013

In [134]:
from collections import Counter
Counter(v1_df["drive"])

Counter({'Rear-Wheel Drive': 13775,
         'Front-Wheel Drive': 14163,
         '4-Wheel or All-Wheel Drive': 6648,
         0: 206,
         'All-Wheel Drive': 2965,
         '4-Wheel Drive': 1455,
         'Part-time 4-Wheel Drive': 258,
         nan: 1181,
         '2-Wheel Drive': 493})

In [137]:
v1_df["drive"].value_counts(dropna=False)

Front-Wheel Drive             14163
Rear-Wheel Drive              13775
4-Wheel or All-Wheel Drive     6648
All-Wheel Drive                2965
4-Wheel Drive                  1455
NaN                            1181
2-Wheel Drive                   493
Part-time 4-Wheel Drive         258
0                               206
Name: drive, dtype: int64

In [155]:
grouped = v_df[cols].groupby("year")["drive"].nunique()

In [158]:
grouped

year
1984    3
1985    4
1986    4
1987    3
1988    3
1989    3
1990    3
1991    3
1992    3
1993    3
1994    3
1995    4
1996    3
1997    4
1998    4
1999    4
2000    4
2001    4
2002    4
2003    4
2004    4
2005    4
2006    4
2007    4
2008    3
2009    4
2010    6
2011    5
2012    5
2013    5
2014    5
2015    5
2016    5
2017    5
2018    5
2019    5
2020    5
Name: drive, dtype: int64

In [169]:
grouped = v_df.groupby(["drive","year"])["make"]
for name, group in grouped:
    print(name)
    print(Counter(group))
    print()

('2-Wheel Drive', 1984)
Counter({'Chevrolet': 109, 'GMC': 109, 'Ford': 94, 'Dodge': 83, 'Toyota': 23, 'Mitsubishi': 17, 'Isuzu': 11, 'Nissan': 7, 'Mazda': 7, 'Volkswagen': 4, 'AM General': 4, 'Plymouth': 4, 'Buick': 3, 'Grumman Olson': 2, 'S and S Coach Company  E.p. Dutton': 1, 'Superior Coaches Div E.p. Dutton': 1})

('2-Wheel Drive', 1995)
Counter({'Isuzu': 1})

('2-Wheel Drive', 1998)
Counter({'Chevrolet': 2})

('2-Wheel Drive', 1999)
Counter({'Nissan': 4, 'Ford': 3, 'Chevrolet': 1, 'GMC': 1, 'Honda': 1, 'Dodge': 1})

('2-Wheel Drive', 2000)
Counter({'Ford': 2, 'Toyota': 1})

('2-Wheel Drive', 2001)
Counter({'Ford': 2, 'Toyota': 1})

('2-Wheel Drive', 2002)
Counter({'Chevrolet': 2, 'Toyota': 1, 'Ford': 1})

('2-Wheel Drive', 2003)
Counter({'Toyota': 1})

('2-Wheel Drive', 2005)
Counter({'Mercury': 1})

('2-Wheel Drive', 2006)
Counter({'Chrysler': 1, 'Chevrolet': 1})

('4-Wheel Drive', 1985)
Counter({'Subaru': 2})

('4-Wheel Drive', 1986)
Counter({'Toyota': 1})

('4-Wheel Drive', 1997)
Counter({'Jeep': 7, 'Mitsubishi': 2, 'Honda': 1})

('4-Wheel Drive', 2004)
Counter({'GMC': 1})

('4-Wheel Drive', 2007)
Counter({'Land Rover': 2})

('4-Wheel Drive', 2010)
Counter({'Mercedes-Benz': 19, 'Ford': 15, 'Chevrolet': 14, 'GMC': 14, 'Jeep': 13, 'Porsche': 12, 'Nissan': 11, 'Land Rover': 6, 'Dodge': 6, 'Hummer': 6, 'Mazda': 5, 'Hyundai': 5, 'Mercury': 5, 'Kia': 4, 'Suzuki': 4, 'Infiniti': 3, 'Saturn': 3, 'Toyota': 3, 'Mitsubishi': 2, 'Lexus': 2, 'Lincoln': 1})

('4-Wheel Drive', 2011)
Counter({'Mercedes-Benz': 18, 'Chevrolet': 17, 'GMC': 17, 'Ford': 14, 'Jeep': 12, 'Nissan': 10, 'Dodge': 9, 'Kia': 7, 'Land Rover': 6, 'Hyundai': 5, 'Mazda': 3, 'Mitsubishi': 3, 'Toyota': 3, 'Lincoln': 2, 'Lexus': 2, 'Suzuki': 2, 'Porsche': 1, 'Cadillac': 1, 'Infiniti': 1, 'Mercury': 1, 'Mahindra': 1})

('4-Wheel Drive', 2012)
Counter({'Mercedes-Benz': 24, 'GMC': 18, 'Porsche': 17, 'Chevrolet': 17, 'Jeep': 13, 'Nissan': 10, 'Land Rover': 7, 'Kia': 6, 'Hyundai': 5, 'Dodge': 3, 'Mitsubishi': 3, 'Suzuki': 2, 'Mazda': 2, 'Toyota': 2, 'Cadillac': 1, 'Infiniti': 1, 'Lexus': 1})

('4-Wheel Drive', 2013)
Counter({'Mercedes-Benz': 30, 'Jeep': 13, 'Chevrolet': 10, 'GMC': 10, 'Porsche': 9, 'Nissan': 9, 'Land Rover': 7, 'Kia': 6, 'Hyundai': 5, 'Ram': 4, 'Mitsubishi': 3, 'Mazda': 2, 'Lexus': 2, 'Dodge': 2, 'Toyota': 1, 'Cadillac': 1, 'Suzuki': 1, 'Infiniti': 1})

('4-Wheel Drive', 2014)
Counter({'Mercedes-Benz': 39, 'Jeep': 18, 'Porsche': 16, 'Land Rover': 12, 'Nissan': 10, 'Chevrolet': 5, 'GMC': 5, 'Ram': 5, 'Hyundai': 5, 'Kia': 4, 'Mazda': 3, 'Mitsubishi': 3, 'Dodge': 2, 'Lexus': 2, 'Infiniti': 1, 'Toyota': 1, 'Roush Performance': 1, 'Tesla': 1})

('4-Wheel Drive', 2015)
Counter({'Mercedes-Benz': 40, 'Porsche': 18, 'Jeep': 18, 'GMC': 17, 'Chevrolet': 13, 'Land Rover': 11, 'Nissan': 11, 'Ram': 5, 'Cadillac': 4, 'Mitsubishi': 4, 'Mazda': 3, 'Lexus': 2, 'Infiniti': 2, 'Dodge': 1, 'Toyota': 1})

('4-Wheel Drive', 2016)
Counter({'Mercedes-Benz': 43, 'Porsche': 22, 'Jeep': 16, 'GMC': 16, 'Chevrolet': 14, 'Land Rover': 12, 'Mitsubishi': 4, 'Ram': 4, 'Mazda': 3, 'Lexus': 2, 'Nissan': 2, 'Cadillac': 1, 'Toyota': 1, 'Infiniti': 1, 'Dodge': 1, 'Roush Performance': 1})

('4-Wheel Drive', 2017)
Counter({'Mercedes-Benz': 44, 'Porsche': 22, 'Chevrolet': 16, 'GMC': 16, 'Jeep': 13, 'Land Rover': 12, 'Ram': 4, 'Mitsubishi': 4, 'Mazda': 3, 'Nissan': 3, 'Lexus': 2, 'Cadillac': 1, 'Dodge': 1, 'Toyota': 1, 'Infiniti': 1, 'Roush Performance': 1})

('4-Wheel Drive', 2018)
Counter({'Mercedes-Benz': 50, 'Porsche': 24, 'Chevrolet': 17, 'GMC': 16, 'Jeep': 14, 'Land Rover': 12, 'Mitsubishi': 6, 'Mazda': 4, 'Ram': 4, 'Nissan': 3, 'Lexus': 2, 'Cadillac': 1, 'Toyota': 1, 'Infiniti': 1, 'Roush Performance': 1})

('4-Wheel Drive', 2019)
Counter({'Mercedes-Benz': 52, 'Porsche': 24, 'Chevrolet': 24, 'GMC': 21, 'Land Rover': 13, 'Jeep': 10, 'Ram': 6, 'Mazda': 6, 'Mitsubishi': 6, 'Nissan': 3, 'Acura': 2, 'Honda': 2, 'Lexus': 2, 'Cadillac': 1, 'Infiniti': 1, 'Toyota': 1, 'Jaguar': 1, 'Roush Performance': 1})

('4-Wheel Drive', 2020)
Counter({'Mercedes-Benz': 2, 'Jeep': 2, 'Jaguar': 1, 'Mitsubishi': 1})

('4-Wheel or All-Wheel Drive', 1984)
Counter({'Ford': 58, 'Jeep': 49, 'Chevrolet': 47, 'GMC': 47, 'Dodge': 27, 'American Motors Corporation': 20, 'Subaru': 18, 'Mitsubishi': 17, 'Isuzu': 6, 'Toyota': 6, 'Suzuki': 3, 'Nissan': 2, 'Import Foreign Auto Sales Inc': 1})

('4-Wheel or All-Wheel Drive', 1985)
Counter({'Ford': 45, 'Chevrolet': 44, 'GMC': 44, 'Jeep': 39, 'Dodge': 24, 'Subaru': 22, 'Toyota': 11, 'Mitsubishi': 8, 'Isuzu': 4, 'American Motors Corporation': 3, 'Audi': 3, 'Plymouth': 2, 'Suzuki': 2, 'Nissan': 2, 'Honda': 1, 'Volkswagen': 1})

('4-Wheel or All-Wheel Drive', 1986)
Counter({'Chevrolet': 37, 'GMC': 37, 'Jeep': 29, 'Ford': 23, 'Subaru': 19, 'Dodge': 19, 'Toyota': 11, 'Isuzu': 6, 'Nissan': 6, 'Audi': 3, 'Mitsubishi': 3, 'Volkswagen': 2, 'American Motors Corporation': 2, 'Suzuki': 2, 'Honda': 1, 'Plymouth': 1, 'Volga Associated Automobile': 1})

('4-Wheel or All-Wheel Drive', 1987)
Counter({'Chevrolet': 37, 'GMC': 37, 'Ford': 30, 'Dodge': 24, 'Subaru': 21, 'Jeep': 21, 'Toyota': 15, 'Nissan': 8, 'Isuzu': 6, 'Audi': 4, 'Mitsubishi': 4, 'Mazda': 2, 'Volkswagen': 2, 'American Motors Corporation': 2, 'Plymouth': 2, 'Suzuki': 2, 'Mercury': 1, 'Honda': 1, 'Land Rover': 1})

('4-Wheel or All-Wheel Drive', 1988)
Counter({'Chevrolet': 40, 'GMC': 40, 'Ford': 30, 'Dodge': 20, 'Toyota': 19, 'Jeep': 17, 'Subaru': 13, 'Nissan': 9, 'Audi': 4, 'Isuzu': 4, 'Mitsubishi': 4, 'Mazda': 3, 'BMW': 2, 'Volkswagen': 2, 'Suzuki': 2, 'Mercury': 1, 'Pontiac': 1, 'Honda': 1, 'Eagle': 1, 'Land Rover': 1, 'Plymouth': 1})

('4-Wheel or All-Wheel Drive', 1989)
Counter({'Chevrolet': 38, 'GMC': 38, 'Ford': 29, 'Dodge': 23, 'Toyota': 19, 'Jeep': 18, 'Subaru': 14, 'Nissan': 8, 'Suzuki': 7, 'Mitsubishi': 6, 'Isuzu': 5, 'Audi': 4, 'Mazda': 3, 'Geo': 3, 'BMW': 2, 'Honda': 2, 'Plymouth': 2, 'Porsche': 1, 'Mercury': 1, 'Pontiac': 1, 'Volkswagen': 1, 'Laforza Automobile Inc': 1, 'Land Rover': 1})

('4-Wheel or All-Wheel Drive', 1990)
Counter({'Chevrolet': 36, 'GMC': 36, 'Ford': 32, 'Dodge': 25, 'Jeep': 19, 'Subaru': 16, 'Toyota': 16, 'Audi': 8, 'Mitsubishi': 8, 'Isuzu': 7, 'Nissan': 7, 'Mazda': 6, 'Suzuki': 6, 'Geo': 4, 'BMW': 2, 'Mercedes-Benz': 2, 'Honda': 2, 'Plymouth': 2, 'Porsche': 1, 'Eagle': 1, 'Mercury': 1, 'Pontiac': 1, 'Volkswagen': 1, 'Daihatsu': 1, 'Laforza Automobile Inc': 1, 'Land Rover': 1})

('4-Wheel or All-Wheel Drive', 1991)
Counter({'Chevrolet': 37, 'GMC': 37, 'Ford': 28, 'Dodge': 24, 'Subaru': 16, 'Toyota': 15, 'Mitsubishi': 11, 'Jeep': 11, 'Isuzu': 10, 'Mazda': 10, 'Audi': 8, 'Suzuki': 8, 'Nissan': 7, 'Geo': 4, 'BMW': 2, 'Eagle': 2, 'Mercedes-Benz': 2, 'Honda': 2, 'Plymouth': 2, 'Porsche': 1, 'Mercury': 1, 'PAS, Inc': 1, 'Volkswagen': 1, 'Daihatsu': 1, 'Land Rover': 1, 'Oldsmobile': 1, 'Wallace Environmental': 1})

('4-Wheel or All-Wheel Drive', 1992)
Counter({'Chevrolet': 33, 'GMC': 33, 'Dodge': 27, 'Ford': 22, 'Mitsubishi': 15, 'Subaru': 15, 'Toyota': 14, 'Isuzu': 10, 'Jeep': 10, 'Nissan': 7, 'Suzuki': 7, 'Audi': 6, 'Eagle': 6, 'Plymouth': 6, 'Mazda': 6, 'Geo': 4, 'Porsche': 2, 'Mercedes-Benz': 2, 'PAS Inc - GMC': 2, 'Oldsmobile': 2, 'Lamborghini': 1, 'Daihatsu': 1, 'Chrysler': 1, 'Land Rover': 1})

('4-Wheel or All-Wheel Drive', 1993)
Counter({'GMC': 30, 'Chevrolet': 29, 'Ford': 20, 'Dodge': 19, 'Subaru': 18, 'Jeep': 15, 'Mitsubishi': 14, 'Toyota': 14, 'Isuzu': 9, 'Suzuki': 9, 'Plymouth': 7, 'Audi': 6, 'Eagle': 6, 'Nissan': 5, 'Mazda': 5, 'Geo': 4, 'Land Rover': 3, 'Mercedes-Benz': 2, 'Porsche': 2, 'Chrysler': 1, 'PAS, Inc': 1, 'Oldsmobile': 1, 'Lamborghini': 1})

('4-Wheel or All-Wheel Drive', 1994)
Counter({'Chevrolet': 34, 'GMC': 33, 'Ford': 17, 'Subaru': 15, 'Dodge': 14, 'Toyota': 12, 'Jeep': 11, 'Mitsubishi': 9, 'Isuzu': 9, 'Mazda': 9, 'Geo': 8, 'Suzuki': 7, 'Audi': 6, 'Plymouth': 6, 'Nissan': 5, 'Land Rover': 5, 'Eagle': 4, 'Porsche': 2, 'Honda': 2, 'Chrysler': 1, 'Oldsmobile': 1, 'Lamborghini': 1})

('4-Wheel or All-Wheel Drive', 1995)
Counter({'GMC': 35, 'Chevrolet': 34, 'Ford': 17, 'Toyota': 16, 'Dodge': 14, 'Mitsubishi': 12, 'Subaru': 11, 'Jeep': 11, 'Isuzu': 7, 'Audi': 6, 'Mazda': 6, 'Land Rover': 6, 'Nissan': 5, 'Eagle': 4, 'Kia': 3, 'Lamborghini': 2, 'Plymouth': 2, 'Honda': 2, 'Porsche': 1, 'Chrysler': 1, 'Suzuki': 1})

('4-Wheel or All-Wheel Drive', 1996)
Counter({'Chevrolet': 17, 'Ford': 17, 'GMC': 17, 'Toyota': 14, 'Dodge': 13, 'Subaru': 12, 'Mitsubishi': 9, 'Suzuki': 8, 'Mazda': 6, 'Jeep': 5, 'Eagle': 4, 'Audi': 4, 'Geo': 4, 'Isuzu': 4, 'Nissan': 3, 'Land Rover': 3, 'Porsche': 2, 'Acura': 2, 'Kia': 2, 'Honda': 2, 'Lamborghini': 1, 'Chrysler': 1, 'Lexus': 1, 'Plymouth': 1, 'Oldsmobile': 1})

('4-Wheel or All-Wheel Drive', 1997)
Counter({'Ford': 19, 'Chevrolet': 17, 'GMC': 17, 'Subaru': 14, 'Toyota': 14, 'Suzuki': 8, 'Mitsubishi': 8, 'Dodge': 8, 'Audi': 6, 'Mazda': 5, 'Land Rover': 5, 'Geo': 4, 'Isuzu': 4, 'Nissan': 3, 'Porsche': 2, 'Eagle': 2, 'Acura': 2, 'Jeep': 2, 'Kia': 2, 'Honda': 2, 'Lamborghini': 1, 'Chrysler': 1, 'Mercury': 1, 'Infiniti': 1, 'Lexus': 1, 'Oldsmobile': 1})

('4-Wheel or All-Wheel Drive', 1998)
Counter({'Chevrolet': 20, 'Ford': 18, 'Subaru': 16, 'GMC': 16, 'Toyota': 15, 'Mitsubishi': 11, 'Dodge': 10, 'Jeep': 10, 'Audi': 9, 'Suzuki': 8, 'Isuzu': 8, 'Mazda': 5, 'Eagle': 4, 'Land Rover': 4, 'Nissan': 3, 'Honda': 3, 'Volkswagen': 2, 'Volvo': 2, 'Kia': 2, 'Mercury': 2, 'Lamborghini': 1, 'Porsche': 1, 'Acura': 1, 'Chrysler': 1, 'Infiniti': 1, 'Lexus': 1, 'Lincoln': 1, 'Mercedes-Benz': 1, 'Oldsmobile': 1})

('4-Wheel or All-Wheel Drive', 1999)
Counter({'Chevrolet': 20, 'Ford': 18, 'Subaru': 16, 'GMC': 15, 'Toyota': 13, 'Dodge': 12, 'Mitsubishi': 11, 'Audi': 11, 'Isuzu': 10, 'Jeep': 9, 'Suzuki': 8, 'Honda': 6, 'Nissan': 5, 'Mercedes-Benz': 4, 'Volvo': 4, 'Mazda': 4, 'Land Rover': 4, 'Volkswagen': 2, 'Lexus': 2, 'Infiniti': 2, 'Kia': 2, 'Lincoln': 2, 'Mercury': 2, 'Lamborghini': 1, 'Chrysler': 1, 'Acura': 1, 'Cadillac': 1, 'Oldsmobile': 1})

('4-Wheel or All-Wheel Drive', 2000)
Counter({'Chevrolet': 20, 'Audi': 19, 'Toyota': 16, 'Ford': 15, 'GMC': 15, 'Dodge': 12, 'Isuzu': 9, 'Jeep': 9, 'Subaru': 8, 'Suzuki': 8, 'Nissan': 7, 'Mercedes-Benz': 6, 'Mitsubishi': 6, 'Mazda': 4, 'Honda': 4, 'Volvo': 3, 'Land Rover': 3, 'Porsche': 2, 'Volkswagen': 2, 'Lexus': 2, 'Kia': 2, 'Mercury': 2, 'Chrysler': 1, 'Cadillac': 1, 'Infiniti': 1, 'Lincoln': 1, 'Oldsmobile': 1})

('4-Wheel or All-Wheel Drive', 2001)
Counter({'Audi': 25, 'Ford': 24, 'Chevrolet': 22, 'GMC': 17, 'Toyota': 14, 'Subaru': 13, 'Dodge': 12, 'Suzuki': 10, 'BMW': 9, 'Isuzu': 8, 'Nissan': 8, 'Jeep': 8, 'Mercedes-Benz': 6, 'Mazda': 6, 'Mitsubishi': 5, 'Porsche': 4, 'Honda': 4, 'Kia': 4, 'Land Rover': 3, 'Volkswagen': 2, 'Lexus': 2, 'Volvo': 2, 'Mercury': 2, 'Oldsmobile': 2, 'Lamborghini': 1, 'Chrysler': 1, 'Acura': 1, 'Hyundai': 1, 'Infiniti': 1, 'Lincoln': 1, 'Pontiac': 1})

('4-Wheel or All-Wheel Drive', 2002)
Counter({'Chevrolet': 29, 'Audi': 26, 'Ford': 23, 'GMC': 22, 'Subaru': 16, 'Toyota': 14, 'Dodge': 13, 'BMW': 10, 'Nissan': 10, 'Jeep': 8, 'Suzuki': 8, 'Mercedes-Benz': 7, 'Isuzu': 7, 'Porsche': 6, 'Mazda': 6, 'Mitsubishi': 5, 'Jaguar': 4, 'Volkswagen': 4, 'Honda': 4, 'Volvo': 3, 'Land Rover': 3, 'Mercury': 3, 'Lamborghini': 2, 'Lexus': 2, 'Oldsmobile': 2, 'Pontiac': 2, 'Cadillac': 2, 'Kia': 2, 'Saturn': 2, 'Chrysler': 1, 'Acura': 1, 'Buick': 1, 'Hyundai': 1, 'Infiniti': 1, 'Lincoln': 1})

('4-Wheel or All-Wheel Drive', 2003)
Counter({'Chevrolet': 43, 'GMC': 31, 'Audi': 22, 'Ford': 21, 'Subaru': 20, 'Toyota': 16, 'Porsche': 14, 'Mercedes-Benz': 13, 'Dodge': 12, 'BMW': 11, 'Nissan': 11, 'Suzuki': 10, 'Jeep': 9, 'Volkswagen': 6, 'Mazda': 6, 'Isuzu': 6, 'Volvo': 5, 'Honda': 5, 'Jaguar': 4, 'Mitsubishi': 4, 'Land Rover': 4, 'Pontiac': 3, 'Lexus': 3, 'Cadillac': 3, 'Infiniti': 3, 'Lamborghini': 2, 'Oldsmobile': 2, 'Hyundai': 2, 'Mercury': 2, 'Saturn': 2, 'Chrysler': 1, 'Acura': 1, 'Buick': 1, 'Kia': 1, 'Lincoln': 1})

('4-Wheel or All-Wheel Drive', 2004)
Counter({'Chevrolet': 43, 'GMC': 36, 'Audi': 28, 'Subaru': 25, 'Porsche': 20, 'Ford': 18, 'Toyota': 17, 'Volkswagen': 16, 'BMW': 14, 'Mercedes-Benz': 14, 'Dodge': 11, 'Nissan': 11, 'Volvo': 10, 'Jeep': 9, 'Suzuki': 8, 'Isuzu': 7, 'Cadillac': 5, 'Honda': 5, 'Lamborghini': 4, 'Infiniti': 4, 'Mitsubishi': 4, 'Mazda': 4, 'Buick': 4, 'Lexus': 4, 'Pontiac': 3, 'Land Rover': 3, 'Mercury': 3, 'Jaguar': 2, 'Chrysler': 2, 'Oldsmobile': 2, 'Hyundai': 2, 'Kia': 2, 'Saturn': 2, 'Bentley': 1, 'Acura': 1, 'Lincoln': 1})

('4-Wheel or All-Wheel Drive', 2005)
Counter({'Chevrolet': 38, 'GMC': 37, 'Audi': 32, 'Subaru': 31, 'Porsche': 28, 'Ford': 17, 'Volvo': 15, 'BMW': 14, 'Toyota': 14, 'Mercedes-Benz': 13, 'Dodge': 12, 'Volkswagen': 10, 'Jeep': 10, 'Nissan': 9, 'Jaguar': 8, 'Mitsubishi': 6, 'Suzuki': 6, 'Cadillac': 6, 'Mercury': 6, 'Saab': 6, 'Mazda': 5, 'Buick': 5, 'Honda': 5, 'Lamborghini': 4, 'Infiniti': 4, 'Hyundai': 4, 'Kia': 4, 'Land Rover': 4, 'Lexus': 4, 'Chrysler': 3, 'Pontiac': 3, 'Saturn': 3, 'Isuzu': 3, 'Acura': 2, 'Bentley': 1, 'Lincoln': 1})

('4-Wheel or All-Wheel Drive', 2006)
Counter({'Subaru': 33, 'Chevrolet': 31, 'GMC': 29, 'Audi': 26, 'BMW': 18, 'Volvo': 16, 'Ford': 16, 'Toyota': 15, 'Mercedes-Benz': 14, 'Dodge': 14, 'Jeep': 13, 'Porsche': 12, 'Mitsubishi': 9, 'Nissan': 9, 'Lexus': 7, 'Cadillac': 7, 'Mazda': 7, 'Lamborghini': 6, 'Suzuki': 6, 'Volkswagen': 6, 'Mercury': 6, 'Saab': 6, 'Honda': 6, 'Land Rover': 6, 'Infiniti': 5, 'Buick': 5, 'Jaguar': 4, 'Isuzu': 4, 'Hyundai': 4, 'Kia': 4, 'Chrysler': 3, 'Pontiac': 3, 'Roush Performance': 3, 'Bentley': 2, 'Acura': 2, 'Saturn': 2, 'Hummer': 2, 'Lincoln': 1, 'Bugatti': 1})

('4-Wheel or All-Wheel Drive', 2007)
Counter({'Chevrolet': 33, 'GMC': 33, 'Subaru': 30, 'Audi': 28, 'BMW': 20, 'Ford': 19, 'Mercedes-Benz': 18, 'Porsche': 18, 'Volvo': 18, 'Toyota': 17, 'Dodge': 17, 'Jeep': 17, 'Nissan': 10, 'Mercury': 7, 'Lexus': 7, 'Lamborghini': 6, 'Hyundai': 6, 'Suzuki': 6, 'Mitsubishi': 6, 'Volkswagen': 5, 'Mazda': 5, 'Cadillac': 5, 'Infiniti': 5, 'Honda': 5, 'Chrysler': 5, 'Kia': 4, 'Land Rover': 4, 'Buick': 3, 'Isuzu': 3, 'Bentley': 3, 'Acura': 3, 'Lincoln': 3, 'Roush Performance': 3, 'Saab': 2, 'Jaguar': 2, 'Hummer': 2, 'Saturn': 2, 'Pontiac': 1})

('4-Wheel or All-Wheel Drive', 2008)
Counter({'Audi': 39, 'Chevrolet': 27, 'Subaru': 25, 'GMC': 25, 'BMW': 22, 'Porsche': 22, 'Dodge': 21, 'Ford': 18, 'Toyota': 17, 'Jeep': 17, 'Mercedes-Benz': 16, 'Volvo': 12, 'Nissan': 11, 'Lamborghini': 9, 'Lexus': 8, 'Mitsubishi': 8, 'Chrysler': 7, 'Mercury': 7, 'Infiniti': 7, 'Mazda': 7, 'Cadillac': 7, 'Saab': 7, 'Land Rover': 6, 'Volkswagen': 6, 'Hyundai': 6, 'Honda': 5, 'Suzuki': 5, 'Saturn': 4, 'Kia': 4, 'Acura': 3, 'Lincoln': 3, 'Hummer': 3, 'Bentley': 3, 'Roush Performance': 3, 'Tecstar, LP': 3, 'Jaguar': 2, 'Isuzu': 2, 'Pontiac': 2, 'Buick': 1, 'Bugatti': 1})

('4-Wheel or All-Wheel Drive', 2009)
Counter({'Chevrolet': 31, 'Audi': 30, 'GMC': 30, 'Subaru': 24, 'Porsche': 23, 'BMW': 22, 'Toyota': 21, 'Ford': 17, 'Jeep': 17, 'Mercedes-Benz': 16, 'Nissan': 13, 'Dodge': 13, 'Volvo': 13, 'Saab': 11, 'Mitsubishi': 10, 'Lexus': 9, 'Infiniti': 8, 'Lamborghini': 8, 'Mazda': 7, 'Cadillac': 7, 'Mercury': 7, 'Suzuki': 7, 'Hyundai': 6, 'Kia': 6, 'Land Rover': 6, 'Hummer': 6, 'Honda': 5, 'Chrysler': 5, 'Acura': 4, 'Volkswagen': 4, 'Saturn': 4, 'Lincoln': 3, 'Pontiac': 3, 'Bentley': 3, 'Buick': 1, 'Isuzu': 1})

('4-Wheel or All-Wheel Drive', 2010)
Counter({'Buick': 1})

('All-Wheel Drive', 2009)
Counter({'Audi': 4, 'Volkswagen': 1, 'BMW': 1, 'Toyota': 1})

('All-Wheel Drive', 2010)
Counter({'Audi': 29, 'BMW': 29, 'Subaru': 20, 'Volvo': 12, 'Porsche': 11, 'Cadillac': 9, 'Lamborghini': 9, 'Toyota': 8, 'GMC': 8, 'Lexus': 7, 'Saab': 7, 'Chevrolet': 6, 'Acura': 6, 'Honda': 6, 'Ford': 5, 'Lincoln': 5, 'Mitsubishi': 5, 'Infiniti': 5, 'Bentley': 4, 'Suzuki': 4, 'Volkswagen': 4, 'Dodge': 3, 'Chrysler': 2, 'Nissan': 2, 'Mercury': 1, 'Pontiac': 1, 'Buick': 1, 'Saturn': 1, 'Bugatti': 1})

('All-Wheel Drive', 2011)
Counter({'Audi': 32, 'BMW': 28, 'Porsche': 25, 'Subaru': 19, 'Ford': 10, 'Cadillac': 10, 'GMC': 10, 'Toyota': 8, 'Volvo': 8, 'Lexus': 8, 'Infiniti': 7, 'Chevrolet': 7, 'Saab': 7, 'Lincoln': 6, 'Honda': 6, 'Acura': 6, 'Nissan': 5, 'Mitsubishi': 5, 'Volkswagen': 5, 'Bentley': 4, 'Lamborghini': 4, 'Suzuki': 4, 'Mercury': 3, 'Buick': 2, 'MINI': 2, 'Mazda': 2, 'Bugatti': 1, 'Chrysler': 1, 'Dodge': 1})

('All-Wheel Drive', 2012)
Counter({'Audi': 32, 'BMW': 26, 'Subaru': 19, 'Ford': 12, 'GMC': 10, 'Chevrolet': 9, 'Infiniti': 8, 'Cadillac': 8, 'Porsche': 8, 'Toyota': 8, 'Saab': 7, 'Volvo': 7, 'Lexus': 7, 'Volkswagen': 6, 'Acura': 6, 'Bentley': 5, 'Lamborghini': 5, 'Nissan': 5, 'Lincoln': 5, 'Dodge': 4, 'Suzuki': 4, 'Honda': 4, 'Mitsubishi': 4, 'Buick': 2, 'MINI': 2, 'Chrysler': 2, 'Jeep': 1, 'Bugatti': 1})

('All-Wheel Drive', 2013)
Counter({'Audi': 38, 'BMW': 33, 'Subaru': 20, 'Ford': 14, 'Cadillac': 12, 'Porsche': 11, 'GMC': 11, 'Toyota': 10, 'Lexus': 9, 'Chevrolet': 9, 'Volvo': 8, 'Infiniti': 8, 'Bentley': 8, 'MINI': 8, 'Lincoln': 7, 'Volkswagen': 6, 'Lamborghini': 6, 'Nissan': 5, 'Acura': 5, 'Dodge': 4, 'Mitsubishi': 4, 'Suzuki': 4, 'Honda': 4, 'Buick': 3, 'Chrysler': 3, 'Jaguar': 3, 'Bugatti': 1})

('All-Wheel Drive', 2014)
Counter({'Audi': 45, 'BMW': 41, 'Subaru': 21, 'Porsche': 16, 'Ford': 13, 'Cadillac': 12, 'Infiniti': 12, 'GMC': 10, 'Toyota': 10, 'Lexus': 9, 'Chevrolet': 9, 'Volvo': 8, 'MINI': 8, 'Lincoln': 7, 'Lamborghini': 7, 'Nissan': 6, 'Bentley': 6, 'Acura': 5, 'Volkswagen': 5, 'Mitsubishi': 4, 'Buick': 4, 'Dodge': 4, 'Honda': 4, 'Jaguar': 3, 'Chrysler': 3, 'Maserati': 2, 'Jeep': 2, 'Bugatti': 1, 'Hyundai': 1})

('All-Wheel Drive', 2015)
Counter({'BMW': 53, 'Audi': 49, 'Subaru': 19, 'Porsche': 15, 'Ford': 14, 'Volvo': 13, 'Lexus': 13, 'Infiniti': 12, 'Lincoln': 9, 'Toyota': 9, 'MINI': 8, 'Hyundai': 7, 'Bentley': 7, 'Cadillac': 7, 'Nissan': 6, 'Volkswagen': 6, 'Kia': 5, 'Chevrolet': 5, 'Jeep': 5, 'Tesla': 5, 'Chrysler': 4, 'Lamborghini': 4, 'Buick': 4, 'Dodge': 4, 'Mitsubishi': 4, 'Acura': 3, 'GMC': 3, 'Honda': 3, 'Jaguar': 3, 'Maserati': 2, 'Bugatti': 1})

('All-Wheel Drive', 2016)
Counter({'BMW': 49, 'Audi': 36, 'Subaru': 19, 'Volvo': 18, 'Porsche': 17, 'Ford': 16, 'Lexus': 13, 'Tesla': 13, 'Infiniti': 11, 'Lincoln': 10, 'Cadillac': 9, 'Hyundai': 8, 'MINI': 8, 'Toyota': 8, 'Jaguar': 7, 'Jeep': 7, 'Kia': 6, 'Nissan': 6, 'Bentley': 6, 'Buick': 6, 'Volkswagen': 6, 'Honda': 5, 'Acura': 5, 'Chevrolet': 5, 'Lamborghini': 4, 'Dodge': 4, 'GMC': 3, 'Chrysler': 3, 'Maserati': 2, 'Fiat': 1, 'Mitsubishi': 1})

('All-Wheel Drive', 2017)
Counter({'BMW': 50, 'Audi': 33, 'Subaru': 20, 'Porsche': 18, 'Ford': 17, 'Volvo': 16, 'Lincoln': 14, 'Infiniti': 14, 'Jaguar': 12, 'Lexus': 12, 'Tesla': 12, 'Jeep': 11, 'MINI': 10, 'Toyota': 10, 'Cadillac': 9, 'Bentley': 9, 'Volkswagen': 9, 'Hyundai': 8, 'Kia': 7, 'Acura': 7, 'Honda': 7, 'Buick': 7, 'Nissan': 7, 'Lamborghini': 6, 'GMC': 5, 'Chevrolet': 5, 'Dodge': 5, 'Maserati': 4, 'Genesis': 3, 'Chrysler': 3, 'Mitsubishi': 1, 'Fiat': 1, 'Alfa Romeo': 1})

('All-Wheel Drive', 2018)
Counter({'BMW': 51, 'Audi': 36, 'Porsche': 26, 'Subaru': 21, 'Jaguar': 21, 'Volvo': 21, 'Ford': 18, 'Lincoln': 14, 'Lexus': 14, 'MINI': 13, 'Jeep': 12, 'Infiniti': 11, 'Hyundai': 10, 'Toyota': 10, 'Cadillac': 9, 'Kia': 9, 'Volkswagen': 9, 'Buick': 9, 'Acura': 8, 'Land Rover': 8, 'Tesla': 8, 'Dodge': 7, 'Honda': 7, 'Lamborghini': 6, 'Chevrolet': 5, 'Genesis': 5, 'Bentley': 5, 'GMC': 5, 'Nissan': 5, 'Maserati': 4, 'Alfa Romeo': 3, 'Chrysler': 2, 'Bugatti': 1, 'Fiat': 1, 'Mitsubishi': 1})

('All-Wheel Drive', 2019)

In [222]:
v_df[cols][(v_df["drive"] == "2-Wheel Drive") & (v_df["year"] == 2002)]

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
9212,87,78,69,NaN,NaN,2-Wheel Drive,NaN,850,Toyota,RAV4 EV,NaN,95,Tue Jan 01 00:00:00 EST 2013,2002
9213,45,39,33,NaN,NaN,2-Wheel Drive,NaN,1700,Ford,Explorer USPS Electric,NaN,38,Tue Jan 01 00:00:00 EST 2013,2002
21141,10,11,13,8.0,6.0,2-Wheel Drive,FFS,3850,Chevrolet,Silverado 2500 2WD,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,2002
21142,10,11,13,8.0,6.0,2-Wheel Drive,FFS,3850,Chevrolet,Silverado 2500 2WD,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,2002

In [219]:
# v_df = v_df["drive"].astype(str)
v_df[cols][(v_df[cols]["drive"] == "Rear-Wheel Drive")]

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
0,19,21,25,4.0,2.0,Rear-Wheel Drive,(FFS),2000,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
1,9,11,14,12.0,4.9,Rear-Wheel Drive,(GUZZLER),3850,Ferrari,Testarossa,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
3,10,11,12,8.0,5.2,Rear-Wheel Drive,NaN,3850,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
14,12,13,15,8.0,5.2,Rear-Wheel Drive,NaN,3250,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
16,18,20,23,4.0,2.3,Rear-Wheel Drive,(FFS),2100,Volvo,240,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41101,16,18,22,8.0,4.2,Rear-Wheel Drive,(FFS),2900,Mercedes-Benz,400E,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41111,14,15,17,6.0,3.7,Rear-Wheel Drive,NaN,2800,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
41122,14,15,17,6.0,3.7,Rear-Wheel Drive,NaN,2800,Dodge,B150/B250 Wagon 2WD,Manual 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
41128,10,11,15,8.0,6.8,Rear-Wheel Drive,"(GUZZLER) (FFS,TRBO) (MPFI)",4700,Rolls-Royce,Continental R,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41133,11,12,13,8.0,5.2,Rear-Wheel Drive,(FFS),3500,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985

In [217]:
v_df[cols].dtypes

city08          int64
comb08          int64
highway08       int64
cylinders     float64
displ         float64
drive          object
eng_dscr       object
fuelCost08      int64
make           object
model          object
trany          object
range           int64
createdOn      object
year            int64
dtype: object

In [227]:
v_df["drive"].fillna("Other", inplace= True)

In [228]:
v_df["drive"].unique()

array(['Rear-Wheel Drive', 'Front-Wheel Drive',
       '4-Wheel or All-Wheel Drive', 'Other', '2-Wheel Drive',
       'All-Wheel Drive', '4-Wheel Drive', 'Part-time 4-Wheel Drive'],
      dtype=object)

In [229]:
cols

['city08',
 'comb08',
 'highway08',
 'cylinders',
 'displ',
 'drive',
 'eng_dscr',
 'fuelCost08',
 'make',
 'model',
 'trany',
 'range',
 'createdOn',
 'year']

In [230]:
v_df["Automatic"] = v_df["trany"].str.contains("Auto")

In [232]:
cols.append("Automatic")

In [233]:
v_df[cols]

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year,Automatic
0,19,21,25,4.0,2.0,Rear-Wheel Drive,(FFS),2000,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985,False
1,9,11,14,12.0,4.9,Rear-Wheel Drive,(GUZZLER),3850,Ferrari,Testarossa,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985,False
2,23,27,33,4.0,2.2,Front-Wheel Drive,(FFS),1550,Dodge,Charger,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985,False
3,10,11,12,8.0,5.2,Rear-Wheel Drive,NaN,3850,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985,True
4,17,19,23,4.0,2.2,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",2700,Subaru,Legacy AWD Turbo,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41139,19,22,26,4.0,2.2,Front-Wheel Drive,(FFS),1900,Subaru,Legacy,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993,True
41140,20,23,28,4.0,2.2,Front-Wheel Drive,(FFS),1850,Subaru,Legacy,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993,False
41141,18,21,24,4.0,2.2,4-Wheel or All-Wheel Drive,(FFS),2000,Subaru,Legacy AWD,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993,True
41142,18,21,24,4.0,2.2,4-Wheel or All-Wheel Drive,(FFS),2000,Subaru,Legacy AWD,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993,False
41143,16,18,21,4.0,2.2,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",2900,Subaru,Legacy AWD Turbo,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993,True

In [234]:
print(v_df)

       barrels08  barrelsA08  charge120  charge240  city08  city08U  cityA08  \
0      15.695714         0.0        0.0        0.0      19      0.0        0
1      29.964545         0.0        0.0        0.0       9      0.0        0
2      12.207778         0.0        0.0        0.0      23      0.0        0
3      29.964545         0.0        0.0        0.0      10      0.0        0
4      17.347895         0.0        0.0        0.0      17      0.0        0
...          ...         ...        ...        ...     ...      ...      ...
41139  14.982273         0.0        0.0        0.0      19      0.0        0
41140  14.330870         0.0        0.0        0.0      20      0.0        0
41141  15.695714         0.0        0.0        0.0      18      0.0        0
41142  15.695714         0.0        0.0        0.0      18      0.0        0
41143  18.311667         0.0        0.0        0.0      16      0.0        0

       cityA08U  cityCD  cityE  ...  c240Dscr  charge240b  c240bDscr  \
0           0.0     0.0    0.0  ...       NaN         0.0        NaN
1           0.0     0.0    0.0  ...       NaN         0.0        NaN
2           0.0     0.0    0.0  ...       NaN         0.0        NaN
3           0.0     0.0    0.0  ...       NaN         0.0        NaN
4           0.0     0.0    0.0  ...       NaN         0.0        NaN
...         ...     ...    ...  ...       ...         ...        ...
41139       0.0     0.0    0.0  ...       NaN         0.0        NaN
41140       0.0     0.0    0.0  ...       NaN         0.0        NaN
41141       0.0     0.0    0.0  ...       NaN         0.0        NaN
41142       0.0     0.0    0.0  ...       NaN         0.0        NaN
41143       0.0     0.0    0.0  ...       NaN         0.0        NaN

                          createdOn                    modifiedOn  startStop  \
0      Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
1      Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
2      Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
3      Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
4      Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
...                             ...                           ...        ...
41139  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
41140  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
41141  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
41142  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
41143  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN

       phevCity  phevHwy  phevComb  Automatic
0             0        0         0      False
1             0        0         0      False
2             0        0         0      False
3             0        0         0       True
4             0        0         0      False
...         ...      ...       ...        ...
41139         0        0         0       True
41140         0        0         0      False
41141         0        0         0       True
41142         0        0         0      False
41143         0        0         0       True

[41144 rows x 84 columns]

In [237]:
display(v_df)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb,Automatic
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,False
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,False
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,False
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,True
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41139,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,True
41140,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,False
41141,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,True
41142,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,False
41143,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,True