## Sunku Bhanu Kedhaar Nath - Z1974769

In [1]:
!ls

a1.ipynb                 aam-salary-survey.csv.gz practice.ipynb
a2.ipynb                 duckdb.ipynb             python_files

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("aam-salary-survey.csv.gz")

In [4]:
df.head()

,Timestamp,Age,Industry,JobTitle,JobDetails,Salary,ExtraComp,Currency,CurrencyOther,IncomeDetails,Country,State,City,ExpOverall,ExpInField,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27925 entries, 0 to 27924
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Timestamp      27925 non-null  object
 1   Age            27925 non-null  object
 2   Industry       27853 non-null  object
 3   JobTitle       27925 non-null  object
 4   JobDetails     7226 non-null   object
 5   Salary         27925 non-null  object
 6   ExtraComp      20678 non-null  float64
 7   Currency       27925 non-null  object
 8   CurrencyOther  197 non-null    object
 9   IncomeDetails  3034 non-null   object
 10  Country        27925 non-null  object
 11  State          22947 non-null  object
 12  City           27850 non-null  object
 13  ExpOverall     27925 non-null  object
 14  ExpInField     27925 non-null  object
 15  Education      27713 non-null  object
 16  Gender         27760 non-null  object
 17  Race           27757 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.8+ MB

# 1 Pandas

## a. Maximum Number of States Selected (10 pts)

In [6]:
# li = df[df["Timestamp"] == "4/28/2021 18:42:25"]["State"].str.split(", ")
# li

In [7]:
#Approch-1
df["State_list"] = df["State"].str.split(", ")

In [8]:
len(df["State_list"])

27925

In [9]:
df[(df["State_list"].str.len() == max(df["State_list"].str.len()))][["JobTitle","Salary"]]

                          JobTitle   Salary
16861  Project Controls Consultant  125,000
16873  Project Controls Consultant  125,000

In [10]:
#Approch-2
df["State_list_len"] = df["State"].str.split(", ").str.len()

In [11]:
df.iloc[(df["State_list_len"].idxmax())]

Timestamp                                        4/28/2021 18:42:25
Age                                                           45-54
Industry                             Utilities & Telecommunications
JobTitle                                Project Controls Consultant
JobDetails        Database tools for project cost analysis and r...
Salary                                                      125,000
ExtraComp                                                    1000.0
Currency                                                        USD
CurrencyOther                                                   NaN
IncomeDetails                                                   NaN
Country                                    United States of America
State             Arkansas, Idaho, Kansas, Louisiana, Michigan, ...
City                                                        Various
ExpOverall                                            21 - 30 years
ExpInField                                            11 - 20 years
Education                                            College degree
Gender                                                          Man
Race                                                          White
State_list        [Arkansas, Idaho, Kansas, Louisiana, Michigan,...
State_list_len                                                 11.0
Name: 16861, dtype: object

In [12]:
#Approch-3
df.iloc[(df["State"].str.split(", ").str.len().idxmax())][["JobTitle", "Salary"]]

JobTitle    Project Controls Consultant
Salary                          125,000
Name: 16861, dtype: object

## b. Number of Participants Working in Illinois (10 pts)

In [13]:
df_b = df.explode("State_list")

In [14]:
len(df_b[df_b["State_list"] == "Illinois"])

1216

## c. Highest US Salary (10 pts)

In [15]:
df_c = df[(df["Currency"] == "USD")]

In [16]:
(df_c["Salary"].str.replace(",","").astype("int64")).max()

102000000

## d. Latest Entry in 2021 (10 pts)

In [17]:
df = df.astype({"Timestamp" : "datetime64[ns]"})

In [18]:
df_d = df[df["Timestamp"].dt.year == 2021 ]

In [19]:
df_d[(df_d["Timestamp"] == max(df_d["Timestamp"]))]

,Timestamp,Age,Industry,JobTitle,JobDetails,Salary,ExtraComp,Currency,CurrencyOther,IncomeDetails,Country,State,City,ExpOverall,ExpInField,Education,Gender,Race,State_list,State_list_len
27596,2021-12-31 20:57:28,35-44,Social Work,Licensed social worker,NaN,85000,0.0,USD,NaN,NaN,USA,New York,New York,8 - 10 years,2 - 4 years,College degree,Woman,"Hispanic, Latino, or Spanish origin",[New York],1.0

## e. Top 10 Ways to Identify the U.S. (10 pts)

In [20]:
df = pd.read_csv("aam-salary-survey.csv.gz")
df_e = df[pd.notnull(df["State"])]

In [21]:
len(df_e), len(df)

(22947, 27925)

In [22]:
df_2e = df_e.groupby("Country")["Country"].count()

In [23]:
df_2e.sort_values(ascending= False).head(10)

Country
United States               8885
USA                         7851
US                          2585
United States                657
U.S.                         571
USA                          464
Usa                          443
United States of America     424
United states                205
usa                          182
Name: Country, dtype: int64

# DuckDB

## a. Maximum Number of States Selected (10 pts)

In [24]:
import duckdb

In [25]:
con = duckdb.connect()

In [26]:
con.execute('CREATE TABLE survey AS SELECT * from read_csv_auto("aam-salary-survey.csv.gz")')

In [27]:
con.execute("SELECT * from survey LIMIT 1").fetchall()

[('4/27/2021 11:02:10',
  '25-34',
  'Education (Higher Education)',
  'Research and Instruction Librarian',
  None,
  '55,000',
  0,
  'USD',
  None,
  None,
  'United States',
  'Massachusetts',
  'Boston',
  '5-7 years',
  '5-7 years',
  "Master's degree",
  'Woman',
  'White')]

In [28]:
con.execute("""create table states_list_table AS (select "JobTitle", "Timestamp", "Salary", str_split(state,', ') AS states from survey)""")

In [29]:
con.execute("""PRAGMA table_info("states_list_table")""").fetchall()

[(0, 'JobTitle', 'VARCHAR', False, None, False),
 (1, 'Timestamp', 'VARCHAR', False, None, False),
 (2, 'Salary', 'VARCHAR', False, None, False),
 (3, 'states', 'VARCHAR[]', False, None, False)]

In [30]:
con.execute("""select * from states_list_table LIMIT 5""").fetchall()

[('Research and Instruction Librarian',
  '4/27/2021 11:02:10',
  '55,000',
  ['Massachusetts']),
 ('Change & Internal Communications Manager',
  '4/27/2021 11:02:22',
  '54,600',
  None),
 ('Marketing Specialist', '4/27/2021 11:02:38', '34,000', ['Tennessee']),
 ('Program Manager', '4/27/2021 11:02:41', '62,000', ['Wisconsin']),
 ('Accounting Manager', '4/27/2021 11:02:42', '60,000', ['South Carolina'])]

In [31]:
# con.execute("""select arg_max(array_length(states), states) from states_list_table""").fetchall()

In [32]:
con.execute("""select * from states_list_table WHERE states IS NOT NULL order by array_length(states) DESC LIMIT 1""").df()

,JobTitle,Timestamp,Salary,states
0,Project Controls Consultant,4/28/2021 18:42:25,"125,000","[Arkansas, Idaho, Kansas, Louisiana, Michigan,..."

## b. Number of Participants Working in Illinois (10 pts)

In [33]:
x = con.execute("""select count(t) from (select * from states_list_table WHERE 'Illinois' in (select unnest(states))) tbl(t)""").fetchall()
print("Number of Participants Working in Illinois is",x[0][0])

Number of Participants Working in Illinois is 1216

## c. Highest US Salary (10 pts)

In [34]:
con.execute("""update survey set Salary = replace(Salary, ',', '')""")

In [35]:
# con.execute("""alter table survey alter column Salary type INTEGER""").fetchall()
# con.execute("""PRAGMA table_info('survey')""").fetchall()
con.execute("""select * from survey limit 5""").df()

,Timestamp,Age,Industry,JobTitle,JobDetails,Salary,ExtraComp,Currency,CurrencyOther,IncomeDetails,Country,State,City,ExpOverall,ExpInField,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [36]:
con.execute("""select Salary from survey where Currency = 'USD' order by try_cast(Salary as INTEGER) DESC limit 1""").df()

      Salary
0  102000000

## d. Latest Entry in 2021 (10 pts)

In [37]:
# con.execute("""Drop table for_last_entry""")
con.execute("""create table for_last_entry as (select strptime(Timestamp, '%m/%d/%Y %H:%M:%S') as Timestamp, Salary from survey)""").fetchall()

[(27925,)]

In [38]:
con.execute("""PRAGMA table_info("for_last_entry")""").fetchall()

[(0, 'timestamp', 'TIMESTAMP', False, None, False),
 (1, 'Salary', 'VARCHAR', False, None, False)]

In [39]:
con.execute("""select * from for_last_entry where YEAR(timestamp) == 2021 and timestamp<'2022-01-01 00:00:00' order by timestamp DESC limit 1""").df()

            timestamp Salary
0 2021-12-31 20:57:28  85000

## e. Top 10 Ways to Identify the U.S. (10 pts)

In [40]:
con.execute("""select Country, count(Timestamp) from survey where state is NOT NULL group by country order by count(Timestamp) DESC limit 10""").fetchall()

[('United States', 8885),
 ('USA', 7851),
 ('US', 2585),
 ('United States ', 657),
 ('U.S.', 571),
 ('USA ', 464),
 ('Usa', 443),
 ('United States of America', 424),
 ('United states', 205),
 ('usa', 182)]

## Ibis

## a. Maximum Number of States Selected (10 pts)

In [41]:
import ibis

In [42]:
t = ibis.read_csv("aam-salary-survey.csv.gz")

In [43]:
type(t)

ibis.expr.types.relations.Table

In [44]:
t.head(5).execute()

,Timestamp,Age,Industry,JobTitle,JobDetails,Salary,ExtraComp,Currency,CurrencyOther,IncomeDetails,Country,State,City,ExpOverall,ExpInField,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,None,"55,000",0.0,USD,None,None,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,None,"54,600",4000.0,GBP,None,None,United Kingdom,None,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,None,"34,000",NaN,USD,None,None,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,None,"62,000",3000.0,USD,None,None,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,None,"60,000",7000.0,USD,None,None,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [45]:
t = t.mutate(states_list = t.State.split(", "))

In [46]:
t.states_list

r0 := AlchemyTable: ibis_read_csv_0
  Timestamp     string
  Age           string
  Industry      string
  JobTitle      string
  JobDetails    string
  Salary        string
  ExtraComp     int32
  Currency      string
  CurrencyOther string
  IncomeDetails string
  Country       string
  State         string
  City          string
  ExpOverall    string
  ExpInField    string
  Education     string
  Gender        string
  Race          string

r1 := Selection[r0]
  selections:
    r0
    states_list:     StringSplit(r0.State, delimiter=', ')

Selection[r1]
  selections:
    states_list: r1.states_list

In [47]:
t = t.mutate(states_list_len = t.states_list.length())

In [48]:
ibis.options.interactive = True

In [49]:
t1 = t.filter(t.states_list_len == t.states_list_len.max())

In [50]:
t1.select(["Salary", "JobTitle"]).limit(1)

 Salary   JobTitle

 string   string

 125,000  Project Controls Consultant

## b. Number of Participants Working in Illinois (10 pts)

In [51]:
# t_b = t.states_list.unnest().name("states")
t_b = t
# len(t_b[t_b["states"] == "Illinois"])
t_b = t_b.mutate(states = t_b.states_list.unnest())

In [52]:
(t_b.filter(t_b.states == "Illinois")).count()

1216

## c. Highest US Salary (10 pts)

In [53]:
t = t.mutate(Salary = t.Salary.replace(",",""))

In [54]:
t = t.mutate(Salary = t.Salary.cast("float"))

In [55]:
t_c = t.filter(t.Currency == "USD")
t_c.Salary.max()

102000000.0

## d. Latest Entry in 2021 (10 pts)

In [56]:
t = t.mutate(Timestamp = t.Timestamp.to_timestamp("%m/%d/%Y %H:%M:%S"))
# 4/27/2021 11:02:42

In [57]:
t_d = t.filter(t.Timestamp.year() == 2021)

In [58]:
# t_d.filter([t.Timestamp.argmax()])
t_d.Salary.argmax(t_d.Timestamp)

85000.0

## e. Top 10 Ways to Identify the U.S. (10 pts)

In [59]:
# t_e = t.select(["Country", "State", "Timestamp"]).notnull("State")
t_e = t.filter(t.State.notnull())

In [60]:
t_e.count()

22947

In [61]:
group = t_e.group_by("Country").aggregate(count=t_e.Country.count())

In [62]:
g = group.order_by([ibis.desc("count")])

In [63]:
g.limit(10)

 Country                   count

 string                    int64

 United States              8885
 USA                        7851
 US                         2585
 United States               657
 U.S.                        571
 USA                         464
 Usa                         443
 United States of America    424
 United states               205
 usa                         182